body{
    background-color: #e1dee2;
}

/*Video 41: Barra de navegaci칩n */
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li:hover{
    background-color: rgba(0,0,0,0.5);
}

.active{
    background-color: #4CAF50;
}

.content{
    margin-top: 55px;
}




/*Video 42: Menu desplegable */
.dropdown-btn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: block;
    position: absolute; /*el contenido de abajo no se desplaza cuando se despliega el menu*/
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
    display: none; /*ocultar opciones menu*/
}

.dropdown-content a{
    color: back;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn{
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content{
    display: block; /*mostras opciones menu cuando hay cursor*/
}





/*Video 43: Formulario*/

input[type=text]{
    width: 100%;
    padding: 12px 20px; /*vertical y horizontal*/
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 0px; /*Espacio sup e inf interno*/
    margin: 8px 0px; /*Separaci칩n de otros componentes*/
    border: none; /*marco de bot칩n*/
    border-radius: 4px; /*esquinas curvas*/
    cursor: pointer; /*mano cuando est치 encima*/
}

.box{
    background-color: white;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

textarea{
    width: 100%;
    padding: 12px 20px; /*vertical y horizontal*/
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}